---
layout: default
title: "Главная"
---
					{% for post in paginator.posts %}
					<div class="card">
						<div class="card-block">
							<h1>{{ post.title }}</h1>
							<div class="card text-justify">
								{{ post.excerpt }}
								<a class="btn btn-secondary" href="{{ post.url }}">Читать дальше&nbsp;<span class="i-eye"></span></a>
							</div>
						</div>
						<div class="card-footer">
							<span class="i-calendar"></span>&nbsp;<a class="btn btn-secondary btn-sm" href="/archive.html">{% include post.date.html %}</a>
						</div>
					</div>{% endfor %}
					<hr>
					<ul class="pagination">
						<li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}"><span class="i-left"></span>&nbsp;Сюда</a></li>
						<li class="page-item"><a class="page-item" href="/archive.html"><span class="i-server"></span>&nbsp;Страница {{ paginator.page }} из {{ paginator.total_pages }}</a></li>
						<li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">Туда&nbsp;<span class="i-right"></span></a></li>
					</ul>
