				<div class="navbar navbar-toggleable-md navbar-light bg-faded">
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span></button>
					<a class="navbar-brand" href="/"><span class="i-home"></span> <span>{{ site.name }}</span></a>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					    <ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="/article.html"><span class="i-read"></span> Статьи</a></li>
						<li class="nav-item"><a class="nav-link" href="/resource.html"><span class="i-globe"></span> Ресурсы</a></li>
						<li class="nav-item"><a class="nav-link" href="/gallery.html"><span class="i-image"></span> Галерея</a></li>
						<li class="nav-item"><a class="nav-link" href="/atom.xml"><span class="i-rss"></span></a></li>
						<li class="nav-item"><a class="nav-link" href="https://github.com/scapeart/scapeart.github.io/"><span class="i-github"></span></a></li>
					    </ul>
					    <form class="form-inline my-2 my-lg-0" method="get" action="//www.yandex.ru/yandsearch" role="search">
						<input class="form-control mr-sm-2" name="text" type="text" placeholder="Поиск"><input type="hidden" name="site" value="{{ site.url }}">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="i-search"></span></button>
					</form>
				</div>
