<span class="pull-right dropup">
	<span class="i-name icon-share"></span>
	<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Share</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="//vk.com/share.php?url=[URL]&title=[TITLE]" onclick="window.open(this.href, '', 'scrollbars=1'); return false;"><span class="i-name icon-vkontakte"></span>&nbsp;VKontakte</a></li>
		<li><a href="#">OK</a></li>
		<li><a href="#">Facebook</a></li>
		<li><a href="#">Twitter</a></li>
		<li><a href="#">Google+</a></li>
		<li><a href="#">Tumblr</a></li>
		<li><a href="#">my.mail</a></li>
		<li><a href="#">Facebook</a></li>
	</ul>
</span>