<div class="pull-right dropup">
	<span class="i-share"></span>
	<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Share</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#" onclick="window.open(this.href='//vk.com/share.php?url='+window.location.href+window.location.hash+'&title='+document.title, '', 'scrollbars=1'); return false;"><span class="i-vk"></span>&nbsp;VK</a></li>
		<li><a href="#" onclick="window.open(this.href='//connect.ok.ru/offer?url='+window.location.href+window.location.hash+'&title='+document.title, '', 'scrollbars=1'); return false;"><span class="i-odnoklassniki"></span>&nbsp;OK</a></li>
		<li><a href="#" onclick="window.open(this.href='//connect.mail.ru/share?url='+window.location.href+window.location.hash+'&title='+document.title, '', 'scrollbars=1'); return false;"><span class="i-at"></span>&nbsp;Mail.ru</a></li>
		<li><a href="#"><span class="i-fb"></span>&nbsp;Facebook</a></li>
		<li><a href="#"><span class="i-twitter"></span>&nbsp;Twitter</a></li>
		<li><a href="#"><span class="i-gplus"></span>&nbsp;Google+</a></li>
		<li><a href="#"><span class="i-tumblr"></span>&nbsp;Tumblr</a></li>		
		<li><a href="#"><span class="i-pinterest"></span>&nbsp;Pinterest</a></li>
		<li><a href="#"><span class="i-send"></span>&nbsp;Telegram</a></li>
		<li><a href="#"><span class="i-star"></span>&nbsp;Bookmark</a></li>
	</ul>
</div>
