<span class="pull-right dropup">
	<span class="i-name icon-share"></span>
	<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Share</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#" onclick="window.open(this.href='//vk.com/share.php?url='+window.location.href+window.location.hash+'&title='+document.title, '', 'scrollbars=1'); return false;"><span class="i-name icon-vkontakte"></span>&nbsp;VK</a></li>
		<li><a href="#" onclick="window.open(this.href='//connect.ok.ru/offer?url='+window.location.href+window.location.hash+'&title='+document.title, '', 'scrollbars=1'); return false;"><span class="i-name icon-odnoklassniki"></span>&nbsp;OK</a></li>
		<li><a href="#" onclick="window.open(this.href='//connect.mail.ru/share?url='+window.location.href+window.location.hash+'&title='+document.title, '', 'scrollbars=1'); return false;"><span class="i-name icon-at"></span>&nbsp;Mail.ru</a></li>
		<li><a href="#">Facebook</a></li>
		<li><a href="#">Twitter</a></li>
		<li><a href="#">Google+</a></li>
		<li><a href="#">Tumblr</a></li>		
		<li><a href="#">Facebook</a></li>
	</ul>
</span>